body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    height: 50px;

}
.logo img{
    height: 50px;
    margin-left: 20px;
}
.titulo{
    flex-grow: 1;
    text-align: center;
}
.titulo h1{
    margin: 0;
    font-size: 24px;
}
.navbar ul{
    list-style: none;
    margin: 0;
    margin-right: 20px;
    padding: 0;
    display: flex;
}
.navbar li{
    margin-left: 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
}
.navbar ul li a:hover{
    color: #007bff;
}
main{
    text-align: center;
    color: #ddd;
    align-items: center;
}
main ul li{
    list-style: none;
}
main img{
    height: 500px;
    border-radius: 50px;
    
}
.sin{
    align-items: center;
    margin-bottom: 20px;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    bottom: 0;
    position:relative;
    width: 100%;
    height: 50px;
}
footer h1{
    flex-grow: 1;
    text-align: center;
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }

    header {
        padding: 20px;
    }

    main {
        padding: 40px;
    }
}
@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }

    header {
        padding: 30px;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
    }
}